* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: FiraCode Nerd Font;
}

window#waybar {
	background-color: #282828;
	color: #949494;
}

#workspaces button,
#mode,
#window,
#clock,
#language,
#network,
#custom-shutdown {
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#custom-launcher{
	background-color: #d65d0e;
	color: #504945;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 18px;
}

#custom-l1{
  font-size: 18px;
	color: #d65d0e;
	background: #4a4a4a;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding-left: 2px;
  padding-right: 2px;
  background: #4a4a4a;
  color: white;
}

#workspaces button.focused {
  color: #ff8700;
}

#workspaces button.urgent{
  color: #d05c5c;
}

#custom-l2{
  font-size: 18px;
	color: #4a4a4a;
	background: transparent;
}

#mode {
  background: transparent;
  color: #d05c5c;
}

#custom-r1 {
  font-size: 18px;
  color: #4a4a4a;
  background: transparent;
}

#network {
  background: #4a4a4a;
}

#custom-r2 {
  font-size: 18px;
  color: #3a3a3a;
  background: #4a4a4a;
}

#custom-keyboard-layout, #language {
  background: #3a3a3a;
}

#custom-r3 {
  font-size: 18px;
  color: #4e4e4e;
  background: #3a3a3a;
}

#clock {
  /* font-weight: bold; */
  background: #4e4e4e;
}

#custom-r4 {
  font-size: 18px;
  color: #949494;
  background: #4e4e4e;
}

#tray {
  background-color: #949494;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-r5 {
  font-size: 18px;
  color: #d65d0e;
  background: #949494;
}

#custom-shutdown{
	background-color: #d65d0e;
	color: #504945;
  padding-left: 5px;
  padding-right: 10px;
}

#idle_inhibitor {
  background-color: #2d3436;
}
