* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: FiraCode Nerd Font;
}

window#waybar {
  color: #a89984;
  background-color: #282828;
  border-left: 1px solid #3c3836;
}

#workspaces button,
#mode,
#window,
#wireplumber,
#bluetooth,
#network,
#language,
#clock,
#custom-shutdown {
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* padding-left: 0; */
  /* padding-right: 0; */
}

@keyframes blink {
  to {
    color: #282828;
  }
}

#custom-launcher {
  color: #458588;
  font-size: 24px;
  padding-right: 7px;
}

#workspaces {
  padding-top: 10px;
}
#workspaces button {
  color: #a89984;
  padding-top: 2px;
  padding-bottom: 2px;
}
#workspaces button:hover,
#workspaces button.focused:hover {
  color: #928374;
}
#workspaces button.focused {
  color: #fbf1c7;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #cc241d;
}

#scratchpad {
  padding-top: 10px;
}

#mode {
  padding-top: 10px;
  color: #fb4934;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
}
#clock.time {
  font-size: 14px;
  color: #fbf1c7;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

#scratchpad,
#wireplumber,
#bluetooth,
#custom-shutdown {
  padding-right: 2px;
}

#bluetooth,
#network {
  padding-top: 3px;
}

#network {
  padding-right: 4px;
}

#bluetooth.connected {
  color: #458588;
}

#language {
  padding-top: 2px;
}

#tray {
  padding-top: 10px;
  padding-bottom: 5px;
}
/*#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}*/
/*#tray menu > *:not(separator) {*/
#tray menu menuitem {
  padding: 10px 0;
}

#custom-shutdown {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fb4934;
  font-size: 16px;
}

#idle_inhibitor {
  background-color: #2d3436;
}
