#window {
  font-family: "FiraCode Nerd Font";
  color: @foreground;
  background-color: @background;
}

#input {
  color: @foreground;
  background-color: @background;
  border: none;
  border-bottom: 1px dashed @border-color;
  border-radius: 0px;
  margin-bottom: 5px;
}

#outer-box {
  border: 1px solid @border-color;
  padding: 2px;
  margin: 2px;
}

#entry {
  color: @foreground;
  background-color: @background;
  outline: none;
}

#entry:nth-child(even) {
  color: @alternate-normal-foreground;
  background-color: @alternate-normal-background;
}

#entry:selected {
  color: @selected-normal-foreground;
  background-color: @selected-normal-background;
}

